/.github/ @j-256
/.dockerignore @j-256
/.npmrc @j-256
/assets/ @j-256
/docs/ @j-256
/Dockerfile @j-256
/package.json @j-256
/package-lock.json @j-256
/server.json @j-256
/scripts/ @j-256
/SECURITY.md @j-256
